@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{
    var selection = Model.Content.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).ToArray();
    var items = Model.Content.Site().Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children().Where("projectStatus.Contains(\"27\")").OrderBy("CreateDate desc").Take(5).ToArray();
}


@if (items.Length > 0)
{
    <ul>
        @foreach (var item in items)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
}